body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

header{
  background: RoyalBlue;
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 10vh;
  box-sizing: border-box;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
main img{
  width: 500px;
}

h1{
  margin: 0;
  font-size: 1.4em;
  color: white;
  font-family: sans-serif;
}

menu{
  width: 30px;
  margin: 0 10px 0 0;
}

menu:hover{
  cursor: pointer;
  opacity: .4;
}

menu span{
  display: block;
  width: 30px;
  height: 5px;
  background: white;
  margin: 0 0 3px 0;
}

ul{
  width: 30vw;
  padding: 0;
  margin: -20px 0 0 -20px;
  transform: translateX(-30vw);
  transition: all .25s linear;
  position: absolute;
  top: 17px;
  background: white;
  height: 100vh;
  -webkit-box-shadow: 1px 0px 6px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow:    1px 0px 6px 0px rgba(50, 50, 50, 0.36);
  box-shadow:         1px 0px 6px 0px rgba(50, 50, 50, 0.36);
  background-color: #2d2f33;
}

ul a{
  text-decoration: none;
  font-size: 1em;
  display: block;
  margin: 0 0 10px 0;
  padding: 10px;
  font-family: sans-serif;
  color: white;
}

ul a:hover{
  color: white;
  background: black;
  opacity: .4;
}

ul.active{
  transform: translateX(0);
  transition: all .25s linear;
}

li:first-child{
  margin: 50px 0 0 0;
}

li{
  list-style: none;
}

span.close{
  position: absolute;
  right: 10px;
  top: 21px;
  display: block;
}

span.close img{
-webkit-filter: invert(100%);
   -moz-filter: invert(100%);
    -ms-filter: invert(100%);
filter: invert(100%);
}

span.close:hover{
  cursor: pointer;
}
